*.retry
.DS_Store
*.pyc
docs/html
.vault-password.txt

roles/galaxyproject.galaxy
roles/galaxyproject.postgresql
roles/galaxyproject.postgresql_objects
roles/galaxyproject.miniconda
roles/galaxyproject.slurm
