*.retry
.DS_Store
*.pyc
docs/html
.vault-password.txt
roles/galaxyproject.galaxy
roles/galaxyproject.miniconda
roles/galaxyproject.nginx
roles/galaxyproject.postgresql
roles/galaxyproject.postgresql_objects
roles/galaxyproject.slurm
roles/install.galaxy-tools
