- name: Install R for usage plot
  ansible.builtin.package:
    name:
      - 'r-base'

- name: Create an uptime directory
  become: true
  become_user: "{{ uptime_user }}"
  ansible.builtin.file:
    path: "{{ galaxy_root }}"
    state: directory
    mode: "{{ galaxy_config_perms }}"

- name: Instantiate uptime templates
  become: true
  become_user: "{{ uptime_user }}"
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    force: true
    mode: "{{ galaxy_config_perms }}"
  with_items: "{{ uptime_templates }}"

- name: Create uptime systemd service file
  ansible.builtin.template:
    src: templates/uptime.service.j2
    dest: /lib/systemd/system/uptime.service
    mode: "0644"

- name: Start uptime service
  ansible.builtin.systemd:
    name: uptime
    state: started
