<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="dist/base.css" type="text/css" />
</head>
<body class="m-0">
    <div class="document">
        <div class="row">
            <div class="col-sm-6" align="center">
                <a target="_blank" href="http://www.ibps.upmc.fr/en"><img src="images/IBPS_logo.jpg" width="200" /></a>
            </div>
            <div class="col-sm-6"  align="center">
                <a target="_blank" href="https://artbio.fr"><img src="images/ARTbio_logo.jpg" alt="ARTbio" width="200"/></a>
            </div>
        </div>
        <hr/>
        <!-- -->
        <div class="alert alert-info trim-p">
{{ conect_info }}
        </div>

        <div class="alert alert-success" style="margin-top: 0.5em">
            <div>
                <h3><center><p>
                    This  server is running Galaxy 
                    <a href="https://github.com/galaxyproject/galaxy/tree/{{ galaxy_commit_id }}" target="_blank">
                    {{ galaxy_commit_id }}
                    </a>
                </p></center></h3>
                <h4><p>
                    Galaxy is deployed using the
                    <a href="https://github.com/ARTbio/galaxyXpand" target="_blank">galaxyXpand</a>
                    Ansible playbook.
                </p></h4>
            </div>
        </div>
        <div class="container" align="center">
                <p>Server workload over 7 days</p>
                <img src="images/uptime.png" width="1000" />
                <br>
                <br>
        </div>
       <hr/>
        <div class="container">
            <p>
                <a target="_blank" class="reference" href="http://galaxyproject.org/">
                Galaxy</a> is an open platform for supporting data intensive
                research. Galaxy is developed by <a target="_blank" class="reference" href="https://galaxyproject.org/galaxy-team/">The Galaxy Team</a>
                with the support of  <a target="_blank" class="reference" href="https://github.com/galaxyproject/galaxy/blob/dev/CONTRIBUTORS.md">many contributors</a>.
            </p>
            <footer>
                The <a target="_blank" class="reference" href="http://galaxyproject.org/">Galaxy Project</a>
                is supported in part by <a target="_blank" class="reference" href="http://www.genome.gov">NHGRI</a>,
                <a target="_blank" class="reference" href="http://www.nsf.gov">NSF</a>,
                <a target="_blank" class="reference" href="http://www.huck.psu.edu">The Huck Institutes of the Life Sciences</a>,
                <a target="_blank" class="reference" href="http://www.ics.psu.edu">The Institute for CyberScience at Penn State</a>,
                and <a target="_blank" class="reference" href="http://www.jhu.edu/">Johns Hopkins University</a>.
            </footer>
        </div>
</body>
</html>