#!/bin/bash
# uptime.sh
while true
do
  echo `date +"%Y/%m/%d %H:%M:%S"; cat /proc/loadavg` >> {{ uptime_dir }}/uptime.log
  tail -n 4032 {{ uptime_dir }}/uptime.log > {{ uptime_dir }}/lastuptime.log
  Rscript {{ uptime_dir }}/uptime.R {{ uptime_dir }}/lastuptime.log 2>&1 >/dev/null
  sleep 300
done
